@import "../../theme/_variables";
@import "../../theme/_mixins";
.flex-container{
  margin          : auto;
  padding-top     : 10px;
  width           : $container-width;
  height          : auto;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : space-between;
  border-radius   : 3px;
  background-color: $reddit-slategray;

  .flex-child {
    @include childproper(true);
  }
}
