<div class="flex-container">
  <div class="flex-child">
    <form>
      <h3>Add a link</h3>
      <label>Title</label>
      <br>
      <input class="input-style" name="title" #newtitle>
      <br>
      <label>Link</label>
      <br>
      <input class="input-style" name="link" #newlink>
      <br><br>
      <button class="button-style" (click)=addArticle(newtitle,newlink)>Add me!</button>
    </form>
  </div>
  <div class="flex-child2">
    <app-reddit-article></app-reddit-article>
  </div>
</div>
