<div class="flex-container">
  <div class="flex-child">
    <h1 class="reddit-points-number">3</h1>
    <p class="reddit-points-text">Points</p>
  </div>
  <div class="flex-child2">
    <div>
      <h3 class="reddit-title">Angular 2</h3>
      <p class="reddit-description">Angular.io</p>
    </div>
    <div>
      <button class="reddit-vote-up"><i class="fa fa-arrow-up" aria-hidden="true"></i>Upvote</button>
      <button class="reddit-vote-down"><i class="fa fa-arrow-down" aria-hidden="true"></i>Downvote</button>
    </div>
  </div>
</div>
