@mixin childproper($padding) {

  @if($padding == false){
    box-sizing      : border-box;
    width           : $child-width;
    background-color: $reddit-lightblue;
    border-radius   : 3px;
    margin-bottom   : 10px;
  }
  @else{
    box-sizing      : border-box;
    width           : $child-width;
    padding-left    : 30px;
    padding-right   : 50px;
    background-color: $reddit-lightblue;
    border-radius   : 3px;
    margin-bottom   : 10px;
  }

}
