
//colors
$reddit-black     : black;
$reddit-grey      : #BDBDBD;
$reddit-slategray : #2F4F4F;
$reddit-lightblue : #819FF7;
$background       : red;

//sizes
$container-width : 500px;
$child-width     : $container-width * 0.7;
